.centertext{

    text-align: center;
    align-content: center;
    align-items: center;
    
}

.righttext{
    text-align: right;
}






.toggle-button{border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap}


.toggle-button{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none}



.b-black{
    color:#fff!important;
    background-color:#000!important}