body {font-family: Arial, Helvetica, sans-serif;
    }
form {border: 3px snow #FFFFFF;}

input[type=text], input[type=password] {
    border-radius: 25px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.centertext{

    text-align: center;
    align-content: center;
    align-items: center;

}

.righttext{
    text-align: right;
}



.banner{
    width:620px;
    height: 100px;
    margin:7px auto;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    padding-left:190px;
}


            h1{
                padding-top: 10px;
                font-size: 36px;
                padding:0px;
                margin: 0px;
                line-height:100px;
                text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
                width:310px;
                float:left;
                }
                .slogan{
                float: right;
                margin:75px 20px 0px 0px;
                font-size: 20px;
                }


.bclass{
    background-image: url(http://www.sakura.in.th/images/BG/bg-squares-3d.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.button {
    border-radius: 15px;
    background-color: #883994;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
  
}


guest:hover{

    background-color: yellow;
}

.cancelbtn {
    border-radius: 25px;
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}


.loginbtn {
    border-radius: 25px;
    width: auto;
    padding: 10px 18px;
    background-color: #064e2a;
}
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}


h2.madtitle{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.madform{
    box-align: center;
}


img.avatar {
    width: 15%;
    border-radius: 10%;
}

.container {
    
    padding: 16px;
    width: 20%;
    margin: 0 auto;

}

span.psw {
    float: right;
    padding-top: 16px;
}


.ml2 {
    font-weight: 900;
    font-size: 3.5em;
  }
  
  .ml2 .letter {
    display: inline-block;
    line-height: 1em;
  }

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;   
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }

    }
